

/* Additional styling for the about page */
section h2 {
    color: #333; /* Adjust color as needed */
    text-align: center; /* Center-align h2 */
}

main h1 {
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 2.5rem; */
    color: #008080;
    text-align: center;
    margin-top: 10px;
}

/* Flex container for images, paragraph, and video */
.section-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.section-images img {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    border-radius: 8px;
}
#indiatImage{
    width: 100%;
    height: auto;
}

section p {
    line-height: 2rem; /* Adjust line height as needed */
    margin-top: 10px;
    font-weight: bold;
   font-style: italic;
    color: #000000; /* Adjust color as needed */
    text-align: center; /* Center-align paragraph */
}

/* Styling for the "Read more" span */
.read-more {
    color: #008080; /* Adjust color as needed */
    cursor: pointer;
}

/* Add hover effect to "Read more" */
.read-more:hover {
    text-decoration: underline;
}

section video {
    width: 40%; /* Adjust the width as needed */
    height: auto;
    margin: 20px auto; /* Center the video */
    display: block; /* Ensure block display for margin auto to work */
    border-radius: 8px;
}

/* mobile view ==============================================================================================================================================================================*/
@media only screen and (min-width: 200px)and (max-width: 600px) {
    .section-images {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: -150px;
        position: relative;
    }
    .section-images p{
        font-size: smaller;
        margin-top: 300px;
        line-height:15px;
    }
  
    #chartImage{
        width:70%;
        height: auto;
        /* background-color: #bd5e5e; */
        margin-top: 12vh;
    }
    #aboutDetail{
    /* margin-top: 10vh; */
    margin-top: -30vh;
    width: 100%;
    /* background-color: #ddb7b7; */
    }
    
    #indiatImage{
        width:70%;
        height: auto;
        /* background-color: #bd5e5e; */
        margin-top: 0vh;
    }
    section video {
        width: 70%; 
        height: auto;
        margin: 20px auto; 
        display: block; 
        border-radius: 8px;
    }
}

/* 400 to 500================================================================================================================================================================================= */
@media only screen and (min-width: 400px) and (max-width: 600px) {
    .section-images {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: -150px;
        position: relative;
    }
    .section-images p{
        font-size: small;
        margin-top: 300px;
        line-height:20px;
    }
  
    #chartImage{
        width:70%;
        height: auto;
        /* background-color: #bd5e5e; */
        margin-top: 12vh;
    }
    #aboutDetail{
    /* margin-top: 10vh; */
    margin-top: -30vh;
    width: 100%;
    /* background-color: #ddb7b7; */
    }
    
    #indiatImage{
        width:70%;
        height: auto;
        /* background-color: #bd5e5e; */
        margin-top: 0vh;
    }
    section video {
        width: 70%; 
        height: auto;
        margin: 20px auto; 
        display: block; 
        border-radius: 8px;
    }
}

/* Tablet View ==============================================================================================================================================================================*/
@media only screen and (min-width: 600px) and (max-width: 750px) {
    .section-images {
        /* display: flex; */
        /* flex-direction: row; */
        justify-content: space-between;
        align-items: center;
        margin-top: -150px;
        position: relative;
    }
    .section-images p{
        font-size: small;
        margin-top: 300px;
        line-height:20px;
    }
    /* .section-images img{
        width: 350%;
        height: auto;
        background-color: #bd5e5e;
        margin-top: -5vh;
    } */
    #indiatImage{
        width: 300%;
        height: auto;
        /* background-color: #bd5e5e; */
        margin-top: -5vh; 
    }
    #chartImage{
        width: 350%;
        height: auto;
        /* background-color: #bd5e5e; */
        margin-top: -5vh;
    }
    #aboutDetail{
    /* margin-top: 10vh; */
    margin-top: -15vh;
    width: 1000%;
    /* background-color: #ddb7b7; */
    }
}

/* 750 to 950   ======================================================================================================================================================================== */
@media only screen and (min-width: 750px) and (max-width: 950px) {
    .section-images img{
        margin-top: -500px;
    }
    #indiatImage{
        width: 250%;
        height: auto;
        /* background-color: #bd5e5e; */
    }
    .section-images p{
        font-size: small;
        margin-top: -10px;
        line-height:20px;
    }

}

/* 950 to 1100   ======================================================================================================================================================================== */
@media only screen and (min-width: 950px) and (max-width: 1100px) {

}

/* laptop view  ========================================================================================================================================================================== */
/* @media only screen and (min-width: 1050px) and (max-width: 1250px) {
    .section-images p{
        font-size: small;
    } */

    @media only screen and (min-width: 750px) and (max-width: 1350px) {
        .section-images p{
            font-size: small;
        }
       
}